<app-navbar></app-navbar>
<section class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card text-center mx-auto m-5" style="width: 50%">
              <div>
                <img src="../../../assets/nuevossoles.png" class="sombra-2" height="124" alt="">
              </div>
              <br>
              <div class="card-body">
                <br>
                <a href="#" class="card-link text-reset">Soles</a>
              </div>
            </div>
          </div>
  
        <div class="col">
            <div class="card text-center mx-auto m-5" style="width: 50%">
            <div>
                <img src="../../../assets/dollars.png" class="sombra-2" height="124" alt="">
            </div>
            <br>
            <div class="card-body ">
                <br>
                <a href="#" class="card-link text-reset">Dólares</a>
            </div>
            </div>
        </div>
        <div class="botones">
            <a class="btn btn-primary" href="/historial" role="button" style="width:100px">Regresar</a>
        </div>
    </div>
  </section>