<app-navbar></app-navbar>
<img src="../../../assets/trasfondo2.png" style="position: absolute; top: 300px; right:500px; width: 350px; height:350px">
<img src="../../../assets/trasfondo2.png" style="position: absolute; top: 300px; left: 500px; width: 350px; height:350px">
<a>
    <img src="../../../assets/logo.png" style="position:relative; width: 90px; height: 95px; right: -1200px; top: 280px;align-items:center;background: #FFFFFF;
            box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25); border-radius:70px">
    <p style="left: 550px">Soles</p>
</a>

<a href="/historial"><img src="../../../assets/logo.png" style="position:relative; width: 90px; height: 95px; left: 530px; top: 280px; align-items:center;background: #FFFFFF;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25); border-radius:70px">
    <p style="left: 1130px">Dólares</p>
</a>