<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<section class="vh-100" style="background-color: #eee">
  <div class="container vh-100">
    <div class="row d-flex justify-content-center align-items-center vh-100">
      <div class="card text-black" style="border-radius: 25px">
        <div class="card-body p-md-5">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Crear cuenta</p>

              <form class="mx-1 mx-md-4" [formGroup]="userForm" (submit)="register()">

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                  <div class="flex-fill mb-0">
                    <input type="number" id="num" class="form-control" formControlName="num" placeholder="num">
                    <span *ngIf="userForm.controls['num'].hasError('required') && userForm.controls['num'].touched">Campo requerido</span>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                  <div class="flex-fill mb-0">
                    <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre">
                    <span *ngIf="userForm.controls['nombre'].hasError('required') && userForm.controls['nombre'].touched">Campo requerido</span>
                  </div>
                </div>
                

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="flex-fill mb-0">
                    <input type="text" id="correo" class="form-control" formControlName="correo" placeholder="Correo">
                    <span *ngIf="userForm.controls['correo'].hasError('required') && userForm.controls['correo'].touched">Campo requerido</span>
                    <span *ngIf="userForm.controls['correo'].hasError('email') && userForm.controls['correo'].touched">Correo inválido</span>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                  <div class="flex-fill mb-0">
                    <input type="password" id="password" class="form-control" formControlName="password" placeholder="Contraseña">
                    <span *ngIf="userForm.controls['password'].hasError('required') && userForm.controls['password'].touched">Campo requerido</span>
                    <span *ngIf="userForm.controls['password'].hasError('minlength') && userForm.controls['password'].touched">Contraseña muy corta</span>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-key fa-lg me-3 fa-fw"></i>
                  <div class="flex-fill mb-0">
                    <input type="number" id="ruc" class="form-control" formControlName="ruc" placeholder="Ruc">
                    <span *ngIf="userForm.controls['ruc'].hasError('required') && userForm.controls['ruc'].touched">Campo requerido</span>
                    <span *ngIf="userForm.controls['ruc'].hasError('min') && userForm.controls['ruc'].touched">ruc muy corta</span>
                    <span *ngIf="userForm.controls['ruc'].hasError('max') && userForm.controls['ruc'].touched">ruc muy larga</span>

                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-gears fa-lg me-3 fa-fw"></i>
                  <div class="flex-fill mb-0">
                    <input type="number" id="documentoId" class="form-control" formControlName="documentoId" placeholder="documentoId">
                    <span *ngIf="userForm.controls['documentoId'].hasError('required') && userForm.controls['documentoId'].touched">Campo requerido</span>
                  </div>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <p class="form-check-label">¿Ya estás registrado? <a href="/login" class="form-check-label">Inicia Sesión</a></p>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button class="btn btn-primary btn-lg" [disabled]="!userForm.valid">Registrar</button>
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
