<app-navbar></app-navbar>
<section class="container-fluid">
  <div class="row">
    <div class="col-5 container p-5 fondo">
      <div class="mb-5">
        <h1 class="font-weight-bold text-white">Registro de</h1>
        <h1 class="font-weight-bold text-danger">persona natural</h1>
      </div>
    </div>

    <div class="col">
      <div class="card mx-auto m-5" style="width: 50%">
        <h2 class="text-center">Regístrate</h2>
        <div class="card-body">
          <form class="" [formGroup]="userForm" (submit)="register()">
            <div class="form-group">
              <label for="num" class="form-label">Cuál es tu documento?</label>
              <input type="number" id="num" class="form-control" formControlName="num" placeholder="num">
              <span *ngIf="userForm.controls['num'].hasError('required') && userForm.controls['num'].touched">Campo requerido</span>
              <span *ngIf="userForm.controls['num'].hasError('min') && userForm.controls['num'].touched">Documento inválido</span>
            </div>

            <div class="form-group">
              <label for="num" class="form-label">Cuál es tu nombre?</label>
              <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre">
              <span *ngIf="userForm.controls['nombre'].hasError('required') && userForm.controls['nombre'].touched">Campo requerido</span>
            </div>

            <div class="form-group">
              <label for="num" class="form-label">Cuál es tu correo electrónico?</label>
              <input type="text" id="correo" class="form-control" formControlName="correo" placeholder="Correo">
              <span *ngIf="userForm.controls['correo'].hasError('required') && userForm.controls['correo'].touched">Campo requerido</span>
              <span *ngIf="userForm.controls['correo'].hasError('email') && userForm.controls['correo'].touched">Correo inválido</span>
            </div>

            <div class="form-group">
              <label for="num" class="form-label">Crea una contraseña</label>
              <input type="password" id="password" class="form-control" formControlName="password" placeholder="Contraseña">
              <span *ngIf="userForm.controls['password'].hasError('required') && userForm.controls['password'].touched">Campo requerido</span>
              <span *ngIf="userForm.controls['password'].hasError('minlength') && userForm.controls['password'].touched">Contraseña muy corta</span>
            </div>

            <div class="form-group">
              <label for="num" class="form-label">Cuál es tu RUC?</label>
              <input type="number" id="ruc" class="form-control" formControlName="ruc" placeholder="Ruc">
              <span *ngIf="userForm.controls['ruc'].hasError('required') && userForm.controls['ruc'].touched">Campo requerido</span>
              <span *ngIf="userForm.controls['ruc'].hasError('min') && userForm.controls['ruc'].touched">ruc muy corta</span>
              <span *ngIf="userForm.controls['ruc'].hasError('max') && userForm.controls['ruc'].touched">ruc muy larga</span>
            </div>

            <div class="form-check d-flex justify-content-center mb-5">
              <p class="form-check-label">¿Ya estás registrado? <a href="/login" class="form-check-label">Inicia Sesión</a></p>
            </div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button class="btn btn-primary btn-lg" [disabled]="!userForm.valid">Registrar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
