<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- Header-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logosinfondo.png" height="30" alt="">
        UReceipt
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Introducción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Registrarse</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Presentacion-->
    <section class="container-fluid">
      <div class="row">
        <div class="col">
          <h1>Finanzas e</h1>
          <h1>ingeniería</h1>

          <ul>
            <li>Nicoll Yamira Malca Rojas</li>
            <li>Julissa Karol Ponte Isminio</li>
            <li>Franco Casanova Salirrosas</li>
            <li>Carlos Alfonso Colina Flores</li>
            <li>Bruno Gustavo Carrasco Romero</li>
            <li>Sebastián Alonso Arana del Carpio</li>
            <li>Wilmar Alonso Tarazona Chafloque</li>
          </ul>

          <div class="row align-items-center">
            <div class="col text-right">
              <span>José Manuel Martín<br>Senmache Sarmiento</span>
            </div>
            <div class="col">
              <img src="../../../assets/profesor.png" height="193" alt="">
            </div>
          </div>

        </div>

        <div class="col">
        </div>
      </div>
    </section>

    <!-- Inicio de sesión-->
    <section class="container-fluid">
      <div class="row">
        <div class="col bg-info">
          <h1>INICIO DE</h1>
          <h1>SESIÓN</h1>
        </div>

        <div class="col">
          <div class="card text-center" style="width: 60%">
            <div>
              <img src="../../../assets/logo.png"  height="124" alt="">
            </div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="numDocumento"></label>
                  <input type="number" class="form-control" id="numDocumento" placeholder="Documento">
                </div>
                <div class="form-group">
                  <label for="password"></label>
                  <input type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-primary btn-block">INICIAR SESIÓN</button>
              </form>
              <a href="#" class="card-link">¿Olvidaste tu contraseña?</a>
              <br>
              <a href="#" class="card-link">Registrar una cuenta</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--    Introducción-->
    <section class="container-fluid bg-info text-center">
      <h1>Introducción</h1>
      <p>
        Debido a la situación crítica a causa del COVID-19, distintas actividades se han visto obligadas a cambiar a medios digitales para evitar el posible contacto entre dos personas. Los recibos por honorarios no son la excepción e instituciones gubernamentales como la SUNAT han hecho cambios en su sistema y página web para poder realizar emisiones de recibos por honorarios electrónicos.
        <br><br>
        En el presente trabajo utilizaremos los conceptos aprendidos durante el curso de Finanzas e Ingeniería Económica para dar una solución eficiente que detalle la información y operaciones necesarias en un recibo por honorarios. Por ello, nuestro equipo optó por desarrollar una aplicación web que facilite lo antes mencionado. Esperamos cumplir con nuestro propósito de manera sobresaliente y orientar a las personas que decidan utilizar nuestra aplicación web.
      </p>
    </section>

    <!--    Nosotros-->
    <section class="container-fluid text-center">
      <h1>Nosotros</h1>

      <div class="row justify-content-around">
        <div class="card text-white" style="width: 196px">
          <img src="../../../assets/integrantes/sebastianarana.jpg" class="card-img" height="236" alt="">
          <div class="card-img-overlay">
            <h5>Sebastián Arana</h5>
            <h6>Ing. Ciencias de la computación</h6>
          </div>
        </div>

        <div class="card text-white" style="width: 196px">
          <img src="../../../assets/integrantes/carloscolina.png" class="card-img" height="236" alt="">
          <div class="card-img-overlay">
            <h5>Sebastián Arana</h5>
            <h6>Ing. Ciencias de la computación</h6>
          </div>
        </div>

        <div class="card text-white" style="width: 196px">
          <img src="../../../assets/integrantes/francocasanova.png" class="card-img" height="236" alt="">
          <div class="card-img-overlay">
            <h5>Sebastián Arana</h5>
            <h6>Ing. Ciencias de la computación</h6>
          </div>
        </div>

        <div class="card text-white" style="width: 196px">
          <img src="../../../assets/integrantes/julissaponte.png" class="card-img" height="236" alt="">
          <div class="card-img-overlay">
            <h5>Sebastián Arana</h5>
            <h6>Ing. Ciencias de la computación</h6>
          </div>
        </div>
      </div>

      <div class="row justify-content-around">
        <div class="card text-white" style="width: 196px">
          <img src="../../../assets/integrantes/nicollrojas.png" class="card-img" height="236" alt="">
          <div class="card-img-overlay">
            <h5>Sebastián Arana</h5>
            <h6>Ing. Ciencias de la computación</h6>
          </div>
        </div>

        <div class="card text-white" style="width: 196px">
          <img src="../../../assets/integrantes/brunocarrasco.png" class="card-img" height="236" alt="">
          <div class="card-img-overlay">
            <h5>Sebastián Arana</h5>
            <h6>Ing. Ciencias de la computación</h6>
          </div>
        </div>

        <div class="card text-white" style="width: 196px">
          <img src="../../../assets/integrantes/wilmartarazona.png" class="card-img" height="236" alt="">
          <div class="card-img-overlay">
            <h5>Sebastián Arana</h5>
            <h6>Ing. Ciencias de la computación</h6>
          </div>
        </div>
      </div>

    </section>
  </body>
</html>
