.primero{
    position: absolute;
    width: 417px;
    height: 79px;
    left: 240px;
    top: 204px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 95px;

    color: #FFFFFF;
}

.segundo{
    position: absolute;
    width: 417px;
    height: 79px;
    left: 240px;
    top: 250px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 95px;

    color: #FFFFFF;
}