.layer-1{
  background: #00305B;
  opacity: 80%;
  height: 100vh;
}
.header-1{
  font-family: Roboto Slab;
  font-size: 5vw;
  color: white;
  margin-left: 3vw;
  line-height: 0.5;
}

.header-2{
  font-family: Roboto Slab;
  font-size: 4vw;
  color: #ffffff;
  margin-left: 3vw;
}
