<app-navbar></app-navbar>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <div class="letras">
                <span class="card-title" style="color: #1B97B6; font-size: 24px;">Datos </span> 
                <span style="color: black; font-size: 24px;"><strong>ingresados</strong></span>
                <span style="color: #1B97B6; font-size: 24px;"> de la cartera</span>
            </div>
          <br>
          <br>
          <p class="card-text">Fecha de Descuento</p>
          <p></p>
          <br>
          <p class="card-text">Días por año(DA)</p>
          <p></p>
          <br>
          <p class="card-text">Plazo de Tasa(P</p>
          <p></p>
          <br>
          <p class="card-text">Valor de Plazo de Tasa</p>
          <p></p>
          <br>
          <p class="card-text">Tipo de Tasa(TE ó TN)</p>
          <p></p>
          <br>
          <p class="card-text">Valor de Tasa</p>
          <p></p>
          <br>
          <p class="card-text">Periodo de Capitalización(PC)</p>
          <p></p>
          <br>
          <p class="card-text">Valor del Periodo de Capitalización</p>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="height: 450px;">
        <div class="card-body">
            <div class="letras">
                <span class="card-title" style="color: #1B97B6;font-size: 24px;">Datos </span> 
                <span style="color: black;font-size: 24px;"> <strong>obtenidos</strong> </span>            </div>
          <br>
          <br>
          <p class="card-text">Costos iniciales totales</p>
          <p class="r"></p>
          <br>
          <p class="card-text">Costos finales totales</p>
          <p class="r"></p>
          <br>
          <p class="card-text">Número de recibos agregados</p>
          <p class="r"></p>
          <br>
          <p class="card-text">Valor Total a recibir</p>
          <p class="r"></p>
          <br>
          <p class="card-text">Tasa de Coste Efectiva Anual</p>
          <p class="r"></p>
        </div>
      </div>
    </div>
</div>

<a class="btn btn-secondary" href="#" role="button"style="background: #4ECCC6;">Ver costos iniciales</a>
<a class="btn btn-secondary" href="#" role="button" style="background: #102D4A;">Ver costos finales</a>
<a class="btn btn-secondary" href="#" role="button"style="background: #BB5B5B;">Recibos</a>