<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datos ingresados de la cartera</h5>
          <br>
          <p class="card-text">Fecha de Descuento</p>
          <p></p>
          <br>
          <p class="card-text">Días por año(DA)</p>
          <p></p>
          <br>
          <p class="card-text">Plazo de Tasa(P</p>
          <p></p>
          <br>
          <p class="card-text">Valor de Plazo de Tasa</p>
          <p></p>
          <br>
          <p class="card-text">Tipo de Tasa(TE ó TN)</p>
          <p></p>
          <br>
          <p class="card-text">Valor de Tasa</p>
          <p></p>
          <br>
          <p class="card-text">Periodo de Capitalización(PC)</p>
          <p></p>
          <br>
          <p class="card-text">Valor del Periodo de Capitalización</p>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datos obtenidos</h5>
          <br>
          <p class="card-text">Costos iniciales totales</p>
          <p></p>
          <br>
          <p class="card-text">Costos finales totales</p>
          <p></p>
          <br>
          <p class="card-text">Número de recibos agregados</p>
          <p></p>
          <br>
          <p class="card-text">Valor Total a recibir</p>
          <p></p>
          <br>
          <p class="card-text">Tasa de Coste Efectiva Anual</p>
          <p></p>
        </div>
      </div>
    </div>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Left</button>
    <button type="button" class="btn btn-secondary">Middle</button>
    <button type="button" class="btn btn-secondary">Right</button>
  </div>