<app-navbar></app-navbar>
<div class="row">
  <div class="col">
    <div class="card align-items-center">
      <div class="card-title">
        <h1>Tasa y Plazo</h1>
        <br>
      </div>
      <form>
        <div>
          <select name="Días por año" formControlName="dias" id="dda">
            <option value="Días por año" selected disabled>Días por año</option>
            <option value="360">360</option>
            <option value="365">365</option>
          </select>
        </div>
        <div>
          <select name="Plazo de Tasa" formControlName="plazo">
            <option value="" selected disabled>Plazo de tasa</option>
            <option value="360">Anual</option>
            <option value="180">Semestral</option>
            <option value="120">Cuatrimestral</option>
            <option value="90">Trimestral</option>
            <option value="60">Bimestral</option>
            <option value="30">Mensual</option>
            <option value="15">Quincenal</option>
            <option value="7">Semanal</option>
            <option value="1">Diario</option>
            <option value="0">Especial</option>
          </select>
        </div>
        <div>
          <select name="Tipo de Tasa" formControlName="tasa">
            <option value="" selected disabled>Tipo de tasa</option>
            <option value="0">Tasa Efectiva</option>
            <option value="1">Tasa Nominal</option>
          </select>
        </div>
        <div>
          <select name="Periodo de capitalizacion" formControlName="pc">
            <option value="" selected disabled>Periodo de Capitalización</option>
            <option value="0">Tasa Efectiva</option>
            <option value="1">Tasa Nominal</option>
          </select>
        </div>

        <div>
          <input type="date" id="start" name="trip-start"
          value="2018-07-22"
          min="2018-01-01" max="2018-12-31">

          <div>
            <select name="Tipo de moneda" formControlName="moneda">
              <option value="" selected disabled>Tipo de moneda</option>
              <option value="0">Soles</option>
              <option value="1">Dólares</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col"></div>
</div>
<app-creargastosiniciales> </app-creargastosiniciales>
<app-crear-recibos></app-crear-recibos>
