*{
    box-sizing: border-box;
    margin:0;
    padding: 0
}

.row .col .card .card-title h1{
    text-align:center;
}

div .card{
    margin: 20px;
    width: 500px;
    height: 600px;
}

.form-group select{
    width:70%;
}

.row{
    text-align:left;
    padding:0px;

}

