<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<section class="back-image">
  <div>
    <div class="row-cols-6">
      <p>Cambiar Contraseña</p>
    </div>
    <div class="row-cols-6">
      <form [formGroup]="userForm" (submit)="cambiarPassword()">
        <div>
          <input type="text" id="correo" formControlName="correo" placeholder="Correo">
          <span *ngIf="userForm.controls['correo'].hasError('required') && userForm.controls['correo'].touched">Campo requerido</span>
          <span *ngIf="userForm.controls['correo'].hasError('email') && userForm.controls['correo'].touched">Correo inválido</span>
        </div>

        <div>
          <input type="password" id="password" formControlName="password" placeholder="Contraseña">
          <span *ngIf="userForm.controls['password'].hasError('required') && userForm.controls['password'].touched">Campo requerido</span>
        </div>

        <div>
          <button [disabled]="!userForm.valid">Cambiar contraseña</button>
        </div>
      </form>
    </div>
  </div>
</section>
